@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Baloo&display=swap');

.navbarNav {
  font-family: 'Baloo', cursive;
}

.active {
  color: rgb(0, 38, 134) !important;
  /* font-weight: bold; */
  font-size: 18px;
  /* border-bottom: 2px solid yellow; */
}